{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<h1>Tickets ✅</h1>

{% for ticket in tickets %}

    <div> {{ ticket.id }}</div>
    <div> {{ ticket.title }}</div>
    <div> {{ ticket.description }}</div>
    <div> {{ ticket.createdat.format('d-M-Y h:i:s') }}</div><br>

{% endfor %}
</div>
{% endblock %}